*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    /* top: 0;
    left: 0; */
} 

.block{
  min-height: 3500px;
   background-color: #ccc;
   margin-bottom: 10px;
}
.block:last-of-type{
    margin-bottom: 0;
}

.up{
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: rgb(185, 131, 185);
    border-radius: 50%;
    border :1px solid black;
    padding: 15px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    display: none;
    line-height: 9px;
    text-align: center;
    text-indent: -6px;
}
.nav{
    background-color:rgb(0,0,0,50%);
    text-align: center;
    padding: 20px;
    margin: 0;
    list-style: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    /* z-index: 999999; */
}
.nav li{
    display: inline;
    padding: 10px;
    
}
.nav li a{
    
    text-decoration: none;
    color: white;
}
.nav li a.active{
    color: violet;
}
/* button */

.button-effect{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 10px;
    border: none;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    font-weight: bold;
    color: white;
    overflow: hidden;
}
.from-left{
    background-color: rgb(131, 165, 185);
    
}
.button-effect.from-left span:first-child{
    background-color: teal;
    height: 100%;
    width:0 ;
}
.from-top{
    background-color: rgb(150, 108, 150);
    
}
.button-effect.from-top span:first-child{
    background-color: rgb(188, 98, 206);
    height: 0;
    width:100% ;
}

.button-effect span:first-child{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
}
.button-effect.border-left span:first-child{
    position: absolute;
    background-color: turquoise;
    height: 5%;
    left: 0;
    display: block;
    z-index: 1;
    width: 100%;
    bottom: -2px;
    top: auto;
}
.bounce{
    background-color: bisque;
    color: black;
    position: relative;
}
.button-effect.border-left span:nth-child(2){
    position: absolute;
    background-color: turquoise;
    height: 5%;
    left: 0;
    display: block;
    z-index: 1;
    width: 100%;
    top: -2px;
}
.button-effect.border-left span:nth-child(3){
    position: absolute;
    background-color: turquoise;
    width: 2%;
    left: -3px;
    display: block;
    z-index: 1;
    height: 100%;
    top:0;
}
.button-effect.border-left span:nth-child(4){
    position: absolute;
    background-color: turquoise;
    width: 2%;
    right: -3px;
    display: block;
    z-index: 1;
    height: 100%;
    top:0;
}
.button-effect span:last-child{
    z-index: 9999;
    position:relative;
}
.border-left{
    border-radius: 0;
    background-color: #eeee;
    color: turquoise;
    overflow: visible;
}
/* start progress bar */
.animate-prog{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border:  1px solid rgb(172, 166, 166);
    overflow: hidden;
    background-color: rgb(240, 226, 208);

}
.animate-prog span{
    
    height: 100%;
    display: block;
    width: 0;
    line-height: 30px;
    text-align: right;
    font-size: larger;
    font-weight: 600;
    color: #141312;
    
}
/* fixed menu */
.fixed-menu{
    width: 240px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    left: -230px;
    top: 0;
    z-index: 99999;
    /* position: relative; */
}
.fixed-menu span:first-child{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 30px;
    background-color: #333333;
    top: 140px;
    right: -40px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 34px;
    text-align: center;
    color: wheat;
    font-weight: bold;
    z-index: 9999;
}
/* change color */
div.fixed-menu ul.change-color{padding-inline-start: 0px;}
div.fixed-menu ul.change-color li{
    width: 40px;
    height: 40px;
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    
    cursor: pointer;
}
div.fixed-menu ul.change-color li[ data-col="blue"]{ background-color:rgb(139, 134, 219) ;}
div.fixed-menu ul.change-color li[ data-col="red"]{ background-color: rgb(226, 143, 42);}
div.fixed-menu ul.change-color li[ data-col="green"]{background-color: rgb(99, 221, 120);}
div.fixed-menu ul.change-color li[ data-col="purple"]{background-color:rgb(167, 97, 155) ;}

/* ======== */
body[data-default-color =  "blue"] .body-line-color {color: rgb(139, 134,219);}
body[data-default-color =   "red"] .body-line-color {color: rgb(226, 143, 42);}
body[data-default-color = "green"] .body-line-color {color: rgb(99, 221, 120);}
body[data-default-color ="purple"] .body-line-color {color: rgb(167, 97, 155);}

body[data-default-color =  "blue"]  .body-background-color{background-color: rgb(139, 134,219);color: white;}
body[data-default-color =   "red"]  .body-background-color{background-color: rgb(226, 143, 42);color: white;}
body[data-default-color = "green"]  .body-background-color{background-color: rgb(99, 221, 120);color: white;}
body[data-default-color ="purple"]  .body-background-color{background-color: rgb(167, 97,155) ;color: white;}



/* gellary */
div.gellary{
    width: 600px;
    margin: auto;
    border: 1px solid black;
    padding: 3px;
    overflow: hidden;
}
div.gellary img{
    width: 100%;
    
}
div.gellary div.master{
    position: relative;
    height: 600px;
}
div.gellary div.master span{
  padding: 10px;
  margin: 10px 0;
  position: absolute;
  top: 0;
  z-index: 9999;
  border: 2px solid black;
  background-color: rgb(207 163 114);
  /* border-radius: 50%; */
  cursor: pointer;
}
div.gellary div.master span.right{
top: 50%;
right: 0;
}
div.gellary div.master span.left{
top: 50%;
left: 0px;
}

div.gellary div.master img{
    height: 600px;
    width: 600px;
    position: relative;
}
div.gellary div.album{
overflow: hidden;
/* height: 600px; */
}
div.gellary div.album img{
    float: left;
    /* width: 19.6%; */
    border: 1px #eee solid;
    cursor: pointer;
    opacity: .6;
    /* width: 19.6%; */
    /* margin-right: .5%; */
   
}
div.gellary div.album img:last-child{
    margin-right: 0
}
div.gellary div.album img.selected{
    border: 3px  rgb(233, 73, 44) solid ;
    opacity: 1;
}
/* products */
.products{
    width: 600px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}
.products .product{
    width: 49%;
    float: left;
    background-color: white;
    border: 1px solid #333;
    padding: 10px;
}

.products .product:not(:last-of-type){
    margin-right: 1%;
}
div.products div.product div.minus{
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(239 231 239);;
    display: none;
    margin-bottom: 10px;
    padding: 15px;
    width: 74%;
    height: 50px;
}
div.products div.product div.plus{
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(239 231 239);;
    /* display: none; */
    margin-bottom: 10px;
    padding: 15px;
    width: 74%;
    height: 50px;
}
div.products div.product p.description{
    margin-top: 10px;
    padding: 10px;
    display: none;
}
/* item */
.items{
    width: 600px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}
.items.grid-view .item{
    width: 49%;
    float: left;
    background-color: white;
    border: 1px solid #333;
    padding: 10px;
}
span.date{
    font-weight: 600;
    display: block;
    font-size: 14px;
    color: black;
    margin: 5px 0;
    width: 74%;
    height: 50px;
}
.items.grid-view .item:not(:last-of-type){
    margin-right: 1%;
}
.items.grid-view .item div.minus{
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(239 231 239);;
    display: none;
    margin-bottom: 10px;
    padding: 15px;
    width: 74%;
    height: 50px;
}
.items.grid-view .item div.plus{
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(239 231 239);;
    /* display: none; */
    margin-bottom: 10px;
    padding: 15px;
    width: 74%;
    height: 50px;
}
.items.grid-view .item p.description{
    margin-top: 10px;
    padding: 10px;
    display: none;
}
/* list view */
div.items.list-view div.item{
    background-color: white;
    border: 1px solid #333;
    padding: 10px;
    position: relative;
    background-color: white;
    padding: 20px;
    border: 1px black solid;
    height: 230px;
    margin-bottom: 10px;
}

div.items.list-view div.item img{
    /* width: 100%;
    height: 140px; */
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    margin-bottom: 5px;
    /* display: none; */
}


div.items.list-view div.item p.description{

    position: relative;
    left: 210px;
    top: 20px;  
}
div.items.list-view div.item h3{
    position: relative;
    left: 210px;
    top: 12px;
}
div.items.list-view div.item span.date{
    position: relative;
    left: 210px;
    top: 20px;  
}
div.items.list-view div.item div.plus,div.items.list-view div.item div.minus{
    display: none;
}
.grid1,.list1{
    font-size: xxx-large;
    display: inline;
    right: 5px;
    cursor: pointer;


}
.list1{   position: relative;
    left: 465px;
    font-size: 52px;
}
.grid1{
    position: relative;
    left: 550px;
}
div.active{
    color: rgb(243, 4, 4); 
    opacity: .7;
}

.error-message{
    background: #f4433675;
    height: 40px;
    line-height: 5px;
    font-size: 22px;
    width: fit-content;
    padding: 26px;
    border: 1px solid #00000052;
    color: #6d6d0d;
    font-weight: bolder;
    position: fixed;
    top: 75px;
    right: -100%;
}
/* start ou form */
div.our-form{
    margin: 30px auto;
    width: 450px;
}
form{
    width: 600px;
    margin: 30px auto;
    
   
    
}
.our-form form  input{ 
    margin: 20px 20px 20px 10px;
    width: 450px;
    display: block;
    width: 79%;
    
}
.our-form form :not(:last-child){
    padding: 15px;

}
.our-form textarea{
    margin: 20px 20px 20px 10px;
    height: 180px;
    position: relative;
    left: 14px;
    width: 75%;}
.our-form form :last-child{
    padding: 15px;
    font-size: 16px;
}

/* .our-form form div span.required{display: none;} */
.our-form form .upload-press{
    background-color: #cccccc;
    border: 3px solid #00000096;
    height: 50px;
    width: 448px;
    position: relative;
    left: 27px;
  
}
.our-form form .upload-press input[type='file']{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.our-form form .upload-press span{
    display: inline-block;
    padding: 8px 12px;
    line-height: 0;
    
}
 div.trial{
     margin: 30px auto;
    /* background-color: #ccc; */
    height: 180px;
    width: 450;
    margin-bottom: 10px;
    /* background-color: rgb(233, 231, 229); */
}


/*SAME HEIGHT  */
.same-height{
    
    overflow: hidden;
    margin: 30px center;
   
    
}
.same-height div{
    
    width: 30%;
    background-color: rgb(233, 231, 229);
    float: left;
    margin-right: 1%;
    padding: 10px;

}
.cards{
    position: relative;
    top: 50px;
    min-height: 600px;
    z-index: 0;
}
.cards .card{
    width: 300px;
    height: 400px;
    border: 1px solid #333;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    cursor: pointer;
    top: 25%;
    margin-top: -75px;
    font-size: 23px;
    line-height: 91px;
    color: white;
    text-align: center;
}
.cards .card-one{background-color: #caca65;}
.cards .card-two{background-color:black;}
.cards .card-three{background-color: rgb(46, 32, 240);}
.cards .card-four{background-color: red;}
.loop{
    background-color: thistle;
    color: rgb(209, 33, 33);
    width: 100px;
    height: 20px;
    border: 3px solid #333;
    margin: 30px auto;
    width: 400px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;

}
.tasks{
    width: 450px;
    height: fit-content;
    margin: 30px auto;
    background-color:#9da4b1;
}
.container .tasks h3{
   
    background-color: #9da4b1bd;
    padding: 20px;
    border-bottom-color: #b3ccb3;
    padding: 20px;
}
.container ul{
    list-style: none;
    margin: 0;
    padding: 0%;
}
.container ul li {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #9da4b1;
    border: 2px solid white;
    cursor: pointer;
}
.container form .done{
    /* width: 100%; */
    padding: 20px;
    border: 3px solid #696767;
    padding: 20px;
    position: relative;
    top: -14px;
    left: -4px;
    width: 73%;
}
.ten-to-zero{
    height: 150px;
}
.ten-to-zero .ten-to-zero-list li{
    color: #6f95fc;
    text-align: center;
    font-size: 100px;
    padding: 6px;
    border: 4px solid white;
    margin: 0;
    font-weight: bold;
    background-color: black;
    border: 4px solid white;
    cursor: pointer;
    
}
.ten-to-zero .ten-to-zero-list li:not(.active){
    display: none;
}
.ten-to-zero h3{
    color: #d16f4c;
    text-align: center;
    font-size: 24px;
}
.contain{
    width: 500px;
    height: 300px;
    margin: 100px auto;
}
.choosy-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.choosy-list li{
    padding: 15px 32px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid wheat;
    top: 1px;
}
.choosy-list li:hover{
    color: #080;
}
.choosy-list .active{
    color: #080;
    border-bottom: 1px solid #fff;
    z-index: 2;
}
.choosy-content{
    border: 1px solid wheat;
    background-color: #fff;
    position: relative;
}
.choosy-content > div{
    padding: 20px;
    min-height: 200px;
}
.choosy-content > div:not(:first-child){
    display: none;
}
.vertical{
    overflow: hidden;
   
   
}
.vertical .choosy-content,
.vertical .choosy-list{
    float: left;
}
.vertical .choosy-list li{
    display: block;
    top: 0;
    left: 0;
    border: 3px solid black;
}
.vertical .choosy-content{
    width: 350px;
    height: 275px;
    border: 3px solid black;
    border-left: none;
}
.vertical .choosy-list li.active{
   border-right: none;
}
.contain .switch{
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 5px;
    margin-left: 256px;
    cursor: pointer;
}
.email-suggest{
    width: 100%;
    height: 70px;
    font-size: 30px;
    margin-bottom: 10px;
   
  
}
.email-box{
   
    font-size: 30px;
    font-weight: 100;
    background-color: rgb(207, 196, 196);
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(94, 91, 91);
    margin-bottom: 30px;
}
.email-box li{
    border: 1px solid #333;
    padding: 20px;
    cursor: pointer;
}
.cont{
 
    margin-bottom: 100px;
    
  
    
}